{% extends 'base.html' %} <!--take all from base.html-->

{% block title %}
<title>Add products</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Add new product</h1>
    <form method="post">
        <!--entry data from user-->
        <input type="text" class="'form-control" name="title" id="title">
        <input type="number" class="'form-control" name="price" id="price">
        <button class="btn btn-sucess" type="submit">Submit</button>





    </form>
</div>
{% endblock %}